
<div class="col-sm-12">
    <div id="post-modal-data" class="card card-block card-stretch card-height create-post-modal">
        <div class="card-header d-flex justify-content-between border-bottom">
            <div class="header-title">
                <h5 class="card-title">Add a Post</h5>
            </div>
        </div>
        <div class="card-body">
            <div data-bs-toggle="modal" data-bs-target="#post-modal">
                <form class="post-text w-100" action="javascript:void();">
                    <input type="text" class="form-control rounded p-0"
                           placeholder="Write And Share Your Post With Your Friends..."
                           style="border:none;">
                </form>
            </div>
        </div>
        <div class="card-body bg-primary-subtle rounded-bottom-3 p-4">
            <div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
                <div class="create-post-data">
                    <ul class="list-inline m-0 p-0 d-flex align-items-center gap-4">
                        <li>
                            <a href="javascript:void(0);"
                               class="text-body d-flex flex-column align-items-center justify-content-center">
                                <i class="ph ph-camera fs-3"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"
                               class="text-body d-flex flex-column align-items-center justify-content-center">
                                <i class="ph ph-user-plus fs-3"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"
                               class="text-body d-flex flex-column align-items-center justify-content-center">
                                <i class="ph ph-map-pin fs-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="list-inline m-0 p-0 d-flex align-items-center gap-4">
                        <li>
                            <a href="javascript:void(0);" class="text-body fw-medium">
                                Discard
                            </a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary px-4">Post</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>